.chatBox {
  margin: 0 auto;
  width: 90vw;
  height: 90vh;
  background-color: rgb(242, 250, 247);
}
.topicSpace {
  margin: 0;
  background-color: bisque;
}
.communication {
  margin: 0;
  background-color: blueviolet;
}
.formBox {
  margin: 0;
  background-color: cornflowerblue;
}
