* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

@media screen and (max-width: 767px) {
  .topPage {
    position: relative;
    img {
      max-width: 100%;
      height: auto;
    }
    .header {
      position: absolute;
      top: 1rem;
      left: 2.5rem;
      width: 90vw;
      display: flex;
      justify-content: space-between;
      .title {
        font-size: 2rem;
        a {
          text-decoration: none;
          color: white;
        }
      }
      .nav {
        padding-top: 1rem;
        a {
          padding-right: 1.5rem;
          text-decoration: none;
          color: white;
        }
      }
    }
    .main {
      position: absolute;
      top: 22%;
      right: 2%;
      h1 {
        color: white;
        font-size: 3rem;
      }
      .message {
        color: white;
        padding: 2rem 0;
      }
      .btn {
        width: 300px;
        height: 50px;
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .topPage {
    position: relative;
    img {
      max-width: 100%;
      height: auto;
    }
    .header {
      position: absolute;
      top: 1rem;
      left: 2.5rem;
      width: 90vw;
      display: flex;
      justify-content: space-between;
      .title {
        font-size: 2rem;
        a {
          text-decoration: none;
          color: white;
        }
      }
      .nav {
        a {
          padding-right: 1.5rem;
          text-decoration: none;
          color: white;
        }
      }
    }
    .main {
      position: absolute;
      top: 20%;
      right: 8%;
      h1 {
        color: white;
        font-size: 5rem;
      }
      .message {
        color: white;
        padding: 2rem 0;
        font-size: 2rem;
      }
      .btn {
        width: 300px;
        height: 50px;
        margin-left: 5rem;
        margin-top: 2rem;
      }
    }
  }
}
